.App header,
footer {
  margin: 30px 0;
  text-align: center;
}

.App h1 {
  font-weight: bold;
  font-size: 62px;
  padding: 60px;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgb(107, 142, 35, 0.9),
      rgba(24, 35, 0, 0.9)
    ),
    url("../images/dictionary.jpg");
  background-position: center;
  background-size: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.App footer {
  font-size: 13px;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: #6b8e23;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: rgb(230, 235, 219);
}
